.box_task {
    background-color: white;
    display: flex;
    align-items: center;
}

.box_task_done {
    text-decoration: line-through;
    opacity: 0.5;
    
}

.cross {
    margin-right: 24px;
    margin-left: auto;
    background-color: white;
    size: 16px;
    border: none;
    cursor: pointer;
}

.img {
    pointer-events: none;
    display: block;
}

.check {
    margin: 0 16px 0px 24px;
    /* accent-color: #7749F8; */
}

.color_txt {
    border: none;
    background-color: #fff;
    font-size: 1.65rem;
    cursor: pointer;
    position: relative;
    right: 100px;
    top: 3px;
}
.taskImportant {
    color: red;
    font-size: 25px;
}

.color_changed {
    color: red; 
    
  }


  .important_btn1{
    background-color: rgb(19, 238, 128);
   transition: 3s;
    border: none;
}

.box_task_important{
    background-color: #fff;
    border: none;
   
}

.cross {
    margin-right: 24px;
    margin-left: auto;
    background-color: white;
    size: 16px;
    border: none;
}
.cross1{
    margin-right: 24px;
    margin-left: auto;
    background-color: rgb(19, 238, 128) ;
   transition: 3s;

    size: 16px;
    border: none;


}

.img {
pointer-events: none;
display: block;
}

.red {
    background: red;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    color: black;
   transition: 3s;
   border: none;

}

.check {
    margin: 0 16px 0px 24px;
    accent-color: #7749F8;
}
.important_btn{
    background-color: white;
    border: none;
}
.important_btn1{
    background-color: none;
   transition: 3s;
    border: none;
}
.checked {
  color: orange;
}

.Task_red__X-x5N {
    background: red;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    color: black;
    transition: 3s;
}

button {
    background: none;
}